@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Good Game";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Ka\ Blam.woff") format("woff");
  }
  html {
    font-family: "Good Game", sans-serif;
  }
}
